.navbar {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
}

.search-container {
  position: relative;
  display: inline-block;

  .search-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #555;
  }

  input {
    padding-left: 30px;
  }
}

.icon {
  color: lightslategray;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  width: 60px;
  cursor: pointer;
}

.main-div {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container-div {
  margin-top: 100px;
}

.main {
  overflow-y: auto;
  padding: 16px;
  margin-top: 100px;
  height: 85vh;
}

.image-card {
  position: relative;
  overflow: hidden;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 49, 49, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-card:hover .image-overlay {
  opacity: 1;
}

.border-card {
  border: 2px solid blue;
}

.image-name {
  color: lightslategray;
  font-size: medium;
}

.image-card {
  height: 130px;
  width: 200px;
}

.image {
  transition: transform 0.3s ease;
}

.image-card:hover .image {
  transform: scale(1.1);
}

.active {
  background-color: white;
  color: black;
}

.not-active {
  background-color: gray;
  color: white;
}

tr:hover .hover-buttons {
  visibility: visible;
}

.hover-buttons {
  visibility: hidden;
}

.no-data {
  text-align: center;
  margin-top: 20px;
}

th {
  color: lightslategrey;
}

@media only screen and (max-width: 569px) {
  .image-card {
    margin: 0 auto;
  }
  .image-name {
    text-align: center;
    color: lightslategray;
  }
}
