.image-container {
  text-align: center;
}

img {
  width: 400px;
  height: 300px;
}

.icon {
  font-size: 20px;
  padding: 40px;
  text-align: center;
}

.close-icon {
  font-size: 30px;
  cursor: pointer;
}
